$border-color: rgb(230, 230, 230);
$border-color-light: rgb(246,246,246);
$hover-btns: rgb(243,243,243);
$icons-fill: rgb(106,106,106);
$font-color-light: rgb(179, 179, 179);
$font-color-input: rgb(111,111,111);
$font-color-dark: rgb(162,162,162);
$focus-blue: rgb(0,108,255);
@mixin open-sans {
  font-family: 'Open Sans', sans-serif;
}

.input{
  border: none;
  border-bottom: 1px solid $border-color;
  @include open-sans;
  color: $font-color-input;
  font-size: .75rem;
  display: inline;
}
.input:focus {
  outline: none;
  border-color: $focus-blue;
}

@keyframes slide-right {
  from {
    width: 100px;
    overflow: hidden;
  }
  to {
    width: 100%;
    overflow: visible;
  }
}

.section-container-header {
  padding: 0;
  position: relative;
}

.section-title {
  @include open-sans;
  text-transform: uppercase;
  font-size: .65rem;
  margin: 0;
  color: $font-color-input;
}

.plus {
  background-color: #fff;
  position: absolute;
  border: none;
  top: -8px;
  right: 0;
  font-size: 1.2rem;
  font-weight: 300;
  @include open-sans;
  color: $font-color-dark;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  &:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  &:focus {
    outline: none;
  }
}


.show {
  display: grid;
}

.hide {
  display: none;
}