.input {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  font-family: 'Open Sans', sans-serif;
  color: #6f6f6f;
  font-size: .75rem;
  display: inline; }

.input:focus {
  outline: none;
  border-color: #006cff; }

@keyframes slide-right {
  from {
    width: 100px;
    overflow: hidden; }
  to {
    width: 100%;
    overflow: visible; } }

.section-container-header {
  padding: 0;
  position: relative; }

.section-title {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .65rem;
  margin: 0;
  color: #6f6f6f; }

.plus {
  position: absolute;
  border: none;
  top: -8px;
  right: 0;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #a2a2a2;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .plus:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .plus:focus {
    outline: none; }

body {
  background-color: lightblue;
  margin: 0;
  padding: 0; }

.aside {
  height: 100vh;
  width: 300px;
  background-color: white;
  position: relative;
  left: 300px; }

.icon-bar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center; }

.icon-bar-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.icon-bar-alignment {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  width: 65%;
  border-right: 1px solid #f6f6f6; }

.icon-bar-zIndex {
  display: flex;
  justify-content: space-between;
  width: 23%; }

.custom-button {
  background-color: #fff;
  border: none;
  cursor: pointer; }

.custom-button:hover, .custom-button:active, .custom-button:focus {
  background-color: #f3f3f3; }

.icon-block_wide {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 7px;
  height: 2px;
  border: 1px solid #6a6a6a;
  background-color: #fff;
  z-index: 2; }

.icon-block_narrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 4px;
  height: 4px;
  background-color: #6a6a6a; }

.icon-align_center_hor {
  margin-left: 20px; }
  .icon-align_center_hor .icon-block_wide {
    top: 2px; }
  .icon-align_center_hor .icon-block_narrow {
    top: 8px;
    width: 5px; }

.icon-bar_horizontal {
  height: 100%;
  width: 1px;
  background-color: #6a6a6a;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1; }

.icon-bar_vertical {
  width: 100%;
  height: 1px;
  background-color: #6a6a6a;
  position: absolute;
  top: 49%;
  left: 0; }

.icon-align_right {
  margin-left: 18px;
  border-right: 1px solid #6a6a6a; }
  .icon-align_right .icon-block_wide {
    top: 2px; }
  .icon-align_right .icon-block_narrow {
    top: 8px;
    right: -5px; }

.icon-align_top {
  margin-left: 20px;
  border-top: 1px solid #6a6a6a; }
  .icon-align_top .icon-block_wide {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 4.5px;
    left: -6px; }
  .icon-align_top .icon-block_narrow {
    top: 2px;
    right: -6px; }

.icon-align_center_ver {
  margin-left: 20px; }
  .icon-align_center_ver .icon-block_wide {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 5.2px;
    right: -6px;
    width: 7px; }
  .icon-align_center_ver .icon-block_narrow {
    height: 5px;
    top: 5px;
    left: -6px; }

.icon-align_bottom {
  margin-left: 20px;
  border-bottom: 1px solid #6a6a6a; }
  .icon-align_bottom .icon-block_wide {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 5.5px;
    left: -6px; }
  .icon-align_bottom .icon-block_narrow {
    top: 8px;
    right: -6px; }

.box-fill {
  width: 8px;
  height: 8px;
  background-color: #6a6a6a;
  position: absolute; }

.icon-hide {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .icon-hide .box-empty {
    position: absolute;
    background-color: #fff;
    height: 7px;
    width: 7px; }
  .icon-hide .box-empty:nth-of-type(2) {
    left: 0;
    bottom: 0; }
  .icon-hide .box-empty:nth-of-type(3) {
    right: 0.5px;
    top: 0; }
  .icon-hide .box-empty::before {
    width: 3px;
    height: 3px;
    position: absolute;
    top: 1px;
    left: 1px;
    content: "";
    border: 1px solid #6a6a6a; }
  .icon-hide .box-fill {
    top: 3px;
    left: 3px; }

.icon-show {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .icon-show .box-fill {
    border: 1px solid #fff;
    z-index: 2;
    left: 2px;
    top: 2px; }
  .icon-show .box-empty {
    position: absolute;
    height: 5px;
    width: 5px;
    z-index: 1;
    border: 1px solid #6a6a6a; }
  .icon-show .box-empty:nth-of-type(2) {
    left: -.5px;
    bottom: 0; }
  .icon-show .box-empty:nth-of-type(3) {
    right: 0;
    top: 0; }

.alignment-button {
  display: inline-block;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 4px; }

.icon-box {
  width: .9rem;
  height: .9rem;
  display: block;
  position: relative;
  top: 1px;
  left: -22px; }

.icon-align_left {
  border-left: 1px solid #6a6a6a;
  margin-left: 20px; }
  .icon-align_left .icon-block_wide {
    top: 2px; }
  .icon-align_left .icon-block_narrow {
    left: -5px;
    top: 8px; }

.position {
  height: 108px;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center; }

.position-container {
  width: 260px;
  height: 85px;
  background-color: white;
  display: grid;
  grid-template-columns: 105px 80px auto; }

.position-container_section {
  height: 84px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 27px 27px auto;
  grid-template-columns: 18px 60px auto; }
  .position-container_section .label {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: .6rem;
    color: #b3b3b3;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
  .position-container_section .input {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Open Sans', sans-serif;
    color: #6f6f6f;
    font-size: .75rem;
    position: relative;
    top: -7px;
    display: inline;
    padding-bottom: 0; }
  .position-container_section .input:focus {
    outline: none;
    border-color: #006cff; }
  .position-container_section .label-wide {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    left: -8px;
    font-size: .8rem;
    color: #a2a2a2; }
  .position-container_section .arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: .7rem;
    font-family: 'Open Sans', sans-serif; }
  .position-container_section .degree-sign {
    position: absolute;
    left: 100px;
    bottom: 22px;
    font-size: .4rem;
    z-index: 10;
    color: #a2a2a2; }
  .position-container_section .input-narrow {
    grid-column-start: 3;
    width: 27px;
    padding-bottom: 0; }

.position-picker {
  width: 17px;
  height: 17px;
  display: grid;
  grid-template-columns: 6px 6px 5px;
  grid-template-rows: 6px 6px 5px; }

.square {
  width: 3px;
  height: 3px;
  border: 1px solid #b3b3b3;
  margin-right: 1px;
  margin-bottom: 1px;
  cursor: pointer; }

.square-active {
  border-color: #6a6a6a;
  background-color: #6a6a6a; }

.checkbox-container {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3; }
  .checkbox-container input {
    position: relative;
    left: -5px; }
  .checkbox-container label {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    color: #a2a2a2;
    position: relative;
    left: -7px; }

.margin-left {
  margin-left: 10px; }

.overflow {
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0; }

.overflow-container {
  width: 280px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto auto; }

.margin-bottom {
  margin-bottom: 18px !important; }

.overflow-container_section {
  position: relative;
  margin: 0 15px;
  display: grid;
  grid-template-columns: 75px 80px 50px; }
  .overflow-container_section .input {
    padding-bottom: 3px;
    margin-bottom: 10px; }
  .overflow-container_section .label {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: .8rem;
    color: #a2a2a2;
    padding: 0;
    margin: 0; }
  .overflow-container_section .icon-button {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    position: relative;
    cursor: pointer; }
    .overflow-container_section .icon-button:hover {
      background-color: #f3f3f3;
      border-color: #f3f3f3; }
      .overflow-container_section .icon-button:hover .icon-button-container-border .btn-square-no_border {
        background-color: #f3f3f3; }
    .overflow-container_section .icon-button .icon-button-container-border {
      width: 8px;
      height: 8px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto auto;
      border: 1px solid #6a6a6a; }
      .overflow-container_section .icon-button .icon-button-container-border .btn-square-no_border {
        width: 3px;
        height: 3px;
        position: absolute; }
        .overflow-container_section .icon-button .icon-button-container-border .btn-square-no_border:nth-of-type(1) {
          left: -1px;
          top: -1px;
          background-color: #fff; }
        .overflow-container_section .icon-button .icon-button-container-border .btn-square-no_border:nth-of-type(2) {
          right: -1px;
          top: -1px;
          background-color: #fff; }
        .overflow-container_section .icon-button .icon-button-container-border .btn-square-no_border:nth-of-type(3) {
          left: -1px;
          bottom: -1px;
          background-color: #fff; }
        .overflow-container_section .icon-button .icon-button-container-border .btn-square-no_border:nth-of-type(4) {
          right: -1px;
          bottom: -1px;
          background-color: #fff; }
    .overflow-container_section .icon-button .icon-button-container {
      width: 8px;
      height: 8px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto auto; }
      .overflow-container_section .icon-button .icon-button-container .btn-square {
        width: 2px;
        height: 2px;
        position: absolute; }
        .overflow-container_section .icon-button .icon-button-container .btn-square:nth-of-type(1) {
          left: 0;
          top: 0;
          border-top: 1px solid #6a6a6a;
          border-left: 1px solid #6a6a6a; }
        .overflow-container_section .icon-button .icon-button-container .btn-square:nth-of-type(2) {
          right: 0;
          top: 0;
          border-top: 1px solid #6a6a6a;
          border-right: 1px solid #6a6a6a; }
        .overflow-container_section .icon-button .icon-button-container .btn-square:nth-of-type(3) {
          left: 0;
          bottom: 0;
          border-left: 1px solid #6a6a6a;
          border-bottom: 1px solid #6a6a6a; }
        .overflow-container_section .icon-button .icon-button-container .btn-square:nth-of-type(4) {
          right: 0;
          bottom: 0;
          border-bottom: 1px solid #6a6a6a;
          border-right: 1px solid #6a6a6a; }
  .overflow-container_section .input-select {
    height: 25px;
    border-radius: 0;
    padding-bottom: 0; }
  .overflow-container_section select {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearence: none;
    position: relative;
    background-image: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
    background-position: right center;
    /*Positioning*/
    background-repeat: no-repeat;
    background-size: 5px; }
  .overflow-container_section .label-bottom {
    position: absolute;
    bottom: -4px;
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    color: #b3b3b3; }
    .overflow-container_section .label-bottom:nth-of-type(1) {
      left: 74px; }
    .overflow-container_section .label-bottom:nth-of-type(2) {
      left: 165px; }

.input-percent {
  margin-left: 10px;
  position: relative;
  padding-bottom: 0; }

.overflow-container-close {
  width: 100%;
  height: auto;
  grid-column-start: 2;
  grid-column-end: 5;
  position: relative;
  grid-template-columns: 30px 20px; }

.overflow-container-open {
  -webkit-animation: slide-right 1s;
  -o-animation: slide-right 1s;
  animation: slide-right 1s;
  height: 30px;
  grid-column-start: 2;
  grid-column-end: 5;
  position: relative;
  grid-template-columns: 25px 5px 25px 5px 25px 5px 25px 10px 30px; }
  .overflow-container-open .input-open:nth-of-type(2) {
    grid-column-start: 3; }
  .overflow-container-open .input-open:nth-of-type(3) {
    grid-column-start: 5; }
  .overflow-container-open .input-open:nth-of-type(4) {
    grid-column-start: 7; }
  .overflow-container-open .label-bottom {
    font-family: 'Open Sans', sans-serif;
    font-size: .6rem;
    color: #b3b3b3;
    position: absolute; }
    .overflow-container-open .label-bottom:nth-of-type(1) {
      left: 0; }
    .overflow-container-open .label-bottom:nth-of-type(2) {
      left: 30px; }
    .overflow-container-open .label-bottom:nth-of-type(3) {
      left: 60px; }
    .overflow-container-open .label-bottom:nth-of-type(4) {
      left: 90px; }
  .overflow-container-open .icon-button {
    position: absolute;
    right: 0;
    top: 0; }
    .overflow-container-open .icon-button .icon-button-container-border {
      width: 6px;
      height: 6px; }

.show {
  display: grid; }

.hide {
  display: none; }

.fill {
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0; }

.fill-container {
  width: 85%; }

.fill-container-body {
  width: 100%;
  padding: 10px 0;
  grid-template-columns: 20px 30px 70px 40px;
  grid-template-rows: 20px 5px 20px; }

.show {
  display: grid; }

.hide {
  display: none; }

.colorpicker {
  height: 23px;
  width: 21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearence: none;
  border: none;
  border-radius: 5px;
  grid-column-start: 2;
  grid-row-start: 1; }
  .colorpicker:nth-of-type(2) {
    grid-row-start: 3; }

.input-code {
  margin-right: 10px; }

.checkbox-color {
  position: relative;
  top: 4px; }

.checkbox-grad {
  position: relative;
  top: 8px; }

.label-grad {
  grid-column-start: 3;
  grid-row-start: 3;
  font-family: 'Open Sans', sans-serif;
  color: #a2a2a2;
  font-size: .9rem; }
